/* Existing styles */
.stApp {
    background-color: #000000;
    color: #ffffff;
}

.stButton > button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 0.7rem 1.7rem;
    font-weight: bold;
    border-radius: 15px;
}

.stButton > button:hover {
    background-color: #5c9100;
}

h1 {
    color: #ffffff;
    font-size: 3.5em;
    margin-bottom: 20px;
}

.nvidia-logo {
    width: 100px;
    margin-bottom: 0px;
}

.file-uploader {
    background-color: #2A2A2A;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.browse-files {
    color: #FF4B4B;
    text-decoration: underline;
    cursor: pointer;
}

.stTextArea > div > div > textarea {
    background-color: #2A2A2A;
    color: #ffffff;
    border: 1px solid #76B900;
}

.nvidia-green {
    color: #76B900;
    font-size: 2em;
    margin-bottom: 40px
}

.stTabs {
    margin-bottom: 20px;
}

.stTabs div[role="tablist"] > div {
    margin-right: 30px;
}

/* Specific styling for the query input label */
.stTextInput > label {
    font-size: 3em;   /* Increase font size */
    color: #000000;   /* Change color */
    font-weight: bold; /* Make it bold */
    margin-bottom: 10px;
}

.stTextInput > div {
    margin-top: -50px; /* Reduces space between label and input */
}
